.wordEnter {
    opacity: 0;
    transform: translateY(-20px);
    position: absolute;
}

.wordEnterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
    position: absolute;
}

.wordExit {
    opacity: 1;
    transform: translateY(0);
    position: absolute;
}

.wordExitActive {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
    position: absolute;
}